/* ============================ font-face ============================ */
/* ============================ font-face ============================ */
/* ============================ font-face ============================ */

/* Gentinum Book Plus */
@font-face
{
    font-family: "Gentium Book Plus";
    src: url("../fonts/GentiumBookPlus-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face
{
    font-family: "Gentium Book Plus";
    src: url("../fonts/GentiumBookPlus-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: "Gentium Book Plus";
    src: url("../fonts/GentiumBookPlus-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Gentium Book Plus";
    src: url("../fonts/GentiumBookPlus-Italic.ttf") format("truetype");
    font-style: italic;
}

/* Gentium Plus */
@font-face
{
    font-family: "Gentium Plus";
    src: url("../fonts/GentiumPlus-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face
{
    font-family: "Gentium Plus";
    src: url("../fonts/GentiumPlus-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: "Gentium Plus";
    src: url("../fonts/GentiumPlus-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Gentium Plus";
    src: url("../fonts/GentiumPlus-Italic.ttf") format("truetype");
    font-style: italic;
}


/* ============================ Varables ============================ */
/* ============================ Varables ============================ */
/* ============================ Varables ============================ */

:root
{
    --font-family-header: "Gentium Book Plus", serif;
    --font-family-nav: "Gentium Plus",serif;
}



